.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
  }
  .app-header {
    width: 100%!important;
    margin-top: 0!important;
  }
  .app-footer {
    margin-bottom: 0! important;
    height: 20%;
  }
  