<p *ngIf="!loading && cryptos.length <= 0">
  No cryptos to display!
</p>
<p class="list-title" *ngIf="!loading && cryptos.length > 0">LES CRYPTOS</p>
<div class="crypto-list" *ngIf="!loading && cryptos.length  > 0">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Logo</th>
            <th>Crypto</th>
            <th>Prix (€)</th>
            <th>Total Volume (€)</th>
            <th>Top Tier Volume (€)</th>
            <th>Market Cap (€)</th>
            <th>Change (heure)</th>
          </tr>
        </thead>
        <tbody class="crypto-list-item" *ngFor="let crypto of cryptos" (click)="onClickCrypto(crypto.cryptoName)">
          <tr>
            <td><img class="imageCrypto" src="https://www.cryptocompare.com/{{ crypto.imageUrl }}"></td>
            <td>{{ crypto.cryptoName | uppercase }}</td>
            <td>{{ crypto.price | number : '1.2-2' }}</td>
            <td>{{ crypto.totalVolume24H | number : '1.2-2' }}</td>
            <td>{{ crypto.totalToptierVolume24H | number : '1.2-2' }}</td>
            <td>{{ crypto.MKTCAP | number : '1.2-2' }}</td>
            <td>{{ crypto.changeHour | percent}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
