<div class="user-container" *ngIf="!loading">
  <div class="user-info">
    <div class="usernameRecap">
      <h2>Récapitulatif des investissements</h2>
    </div>
    <div class="MontantTotal" *ngIf="user.montantDepose !== 0; else elseBlock">
        <div class="totalInvestis">
          <p>Montant Investi:</p>
          <p><span class="miseEnFormeChiffreS">{{ user.montantDepose | currency: 'EUR' : 'symbol' : '1.2-2'}}</span></p>
        </div>
        <div class="totalArgentpossede">
          <p>Montant Possedé:</p>
          <p><span class="miseEnFormeChiffreP">{{ montantTotalPossede | currency: 'EUR' : 'symbol' : '1.2-2'}}</span></p>
        </div>
    </div>
    <br>
      <div class="montantInvestisDetails" *ngIf="user.montantDepose !== 0">
        <p>Vous possèdez actuellement :</p>
        <div class="table-responsive">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>Logo</th>
                <th>Crypto</th>
                <th>Nombre détenu</th>
                <th>Argent détenu</th>
              </tr>
            </thead>
            <tbody class="crypto-list-item">
              <tr *ngIf="user.bch !== 0">
                <td><img class="imageCrypto" [src]="cryptoTabImg[0]"></td>
                <td>Bitcoin cash</td>
                <td>{{ user.bch }}</td>
                <td>{{ BCHUserHadEuro | currency: 'EUR' : 'symbol' : '1.2-2'}}</td>
              </tr>
              <tr *ngIf="user.xrp !== 0">
                <td><img class="imageCrypto" [src]="cryptoTabImg[1]"></td>
                <td>XRP</td>
                <td>{{ user.xrp }}</td>
                <td>{{ XRPUserHadEuro | currency: 'EUR' : 'symbol' : '1.2-2'}}</td>
              </tr>
              <tr *ngIf="user.ada !== 0">
                <td><img class="imageCrypto" [src]="cryptoTabImg[2]"></td>
                <td>Cardano</td>
                <td>{{ user.ada }}</td>
                <td>{{ ADAUserHadEuro | currency: 'EUR' : 'symbol' : '1.2-2'}}</td>
              </tr>
              <tr *ngIf="user.neo !== 0">
                <td><img class="imageCrypto" [src]="cryptoTabImg[3]"></td>
                <td>Neo Etherum chinois</td>
                <td>{{ user.neo }}</td>
                <td>{{ NEOUserHadEuro | currency: 'EUR' : 'symbol' : '1.2-2'}}</td>
              </tr>
              <tr *ngIf="user.trx !== 0">
                <td><img class="imageCrypto" [src]="cryptoTabImg[4]"></td>
                <td>Tron</td>
                <td>{{ user.trx }}</td>
                <td>{{ TRXUserHadEuro | currency: 'EUR' : 'symbol' : '1.2-2' }}</td>
              </tr>
              <tr *ngIf="user.eos !== 0">
                <td><img class="imageCrypto" [src]="cryptoTabImg[5]"></td>
                <td>Eos</td>
                <td>{{ user.eos }}</td>
                <td>{{ EOSUserHadEuro | currency: 'EUR' : 'symbol' : '1.2-2'}}</td>
              </tr>
              <tr *ngIf="user.ltc !== 0">
                <td><img class="imageCrypto" [src]="cryptoTabImg[6]"></td>
                <td>Litecoin</td>
                <td>{{ user.ltc }}</td>
                <td>{{ LTCUserHadEuro | currency: 'EUR' : 'symbol' : '1.2-2'}}</td>
              </tr>
              <tr *ngIf="user.bnb !== 0">
                <td><img class="imageCrypto" [src]="cryptoTabImg[7]"></td>
                <td>Binance Coin</td>
                <td>{{ user.bnb }}</td>
                <td>{{ BNBUserHadEuro | currency: 'EUR' : 'symbol' : '1.2-2'}}</td>
              </tr>
              <tr *ngIf="user.eth !== 0">
                <td><img class="imageCrypto" [src]="cryptoTabImg[8]"></td>
                <td>Etherum</td>
                <td>{{ user.eth }}</td>
                <td>{{ ETHUserHadEuro | currency: 'EUR' : 'symbol' : '1.2-2'}}</td>
              </tr>
              <tr *ngIf="user.eth !== 0">
                <td><img class="imageCrypto" [src]="cryptoTabImg[9]"></td>
                <td>Bitcoin</td>
                <td>{{ user.btc }}</td>
                <td>{{ BTCUserHadEuro | currency: 'EUR' : 'symbol' : '1.2-2' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>  
  </div>
    <ng-template class="ng-template" #elseBlock>
      <p>Vous n'avez fait aucun achat pour le moment</p>
    </ng-template>
    <div class="control-buttons">
      <button mat-raised-button color="primary" (click)="onInvest()" *ngIf="userId === user.id">Acheter</button>
      <button mat-raised-button color="primary" (click)="onSell()" *ngIf="userId === user.id && user.montantDepose !== 0">Vendre</button>
      <!-- <button mat-raised-button color="warn" (click)="onDelete()" *ngIf="userId === user._id">DELETE</button> -->
    </div>
    <!-- <br>
    <div class="table-responsive">
      <h3>Voici le prix des cryptos actuellement : </h3>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Crypto</th>
            <th>Prix</th>
          </tr>
        </thead>
        <tbody class="crypto-list-item" *ngFor="let crypto of cryptos" (click)="onClickCrypto(crypto.cryptoName)">
          <tr>
            <td>{{ crypto.cryptoName | uppercase }}</td>
            <td>{{ crypto.price | currency: 'EUR' : 'symbol' : '1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div> -->

<!-- <div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
      <h3>
        <strong>{{ currentUser.username }}</strong> Profile
      </h3>
    </header>
    <p>
      <strong>Token:</strong>
      {{ currentUser.accessToken.substring(0, 20) }} ...
      {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
    </p>
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
  </div>
  
  <ng-template #loggedOut>
    Please login.
  </ng-template>
   -->