<div>
  <div class=" achatTotal" *ngIf="isAuth">
    <div class="selectionCrypto">
    <label for="crypto-select">
      <p>Sélectionné une ou plusieurs crytpos<br>(Montant invesits en euros)</p>
    </label>
    <select name="crypto-select" id="crypto-select">
      <option value="">--Choisir la/les crypto(s)--</option>
      <option value="btc">BTC - Bitcoin</option>
      <option value="eth">ETH -Etherum</option>
      <option value="bnb">BNB - Binance Coin</option>
      <option value="ltc">LTC - Litecoin</option>
      <option value="eos">EOS</option>
      <option value="bch">BCH -Bitcoin Cash</option>
      <option value="trx">TRX - Tron</option>
      <option value="neo">NEO etherum Chinois</option>
      <option value="ada">ADA - Cardano</option>
      <option value="xrp">XRP - Ripple</option>
    </select>
    <button class=""
            type="button"
            (click)="OpenSelectCrytpo()">Ajouter
    </button>
  </div>

  <div>
      <form *ngIf="afterSelectCrypto ;else elseBlockafterSelectCrypto" [formGroup]="userForm"><!--*ngIf="!loading" *ngIf="user"-->
        <div class="formWithInput" *ngIf="tableIsVisible
                                          || isBTCvisible
                                          || isETHvisible
                                          || isBNBvisible
                                          || isNEOvisible
                                          || isLTCvisible
                                          || isEOSvisible
                                          || isBCHvisible
                                          || isTRXvisible
                                          || isADAvisible
                                          || isXRPvisible; else elseBlockafterSelectCrypto">
          <div class="form-group" *ngIf="isBTCvisible">
            <div class="labelFormWithInput">
              <label for="btc">Bitcoin</label>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-backspace" viewBox="0 0 16 16" (click)="closeBTC()">
                <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
                <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"/>
              </svg>
            </div>
            <input type="number" class="form-control" id="btc" formControlName="btc" step="10" min="0" max="1000">
          </div>
          <div class="form-group" *ngIf="isETHvisible">
            <div class="labelFormWithInput">
              <label for="eth">Etherum</label>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-backspace" viewBox="0 0 16 16" (click)="closeETH()">
                <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
                <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"/>
              </svg>
            </div>
            <input type="number" class="form-control" id="eth" formControlName="eth" step="10" min="0" max="1000">
          </div>
          <div class="form-group" *ngIf="isBNBvisible">
            <div class="labelFormWithInput">
              <label for="bnb">Binance Coin</label>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-backspace" viewBox="0 0 16 16" (click)="closeBNB()">
                <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
                <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"/>
              </svg>
            </div>
            <input type="number" class="form-control" id="bnb" formControlName="bnb" step="10" min="0" max="1000">
          </div>
          <div class="form-group" *ngIf="isLTCvisible">
            <div class="labelFormWithInput">
              <label for="ltc">Litecoin</label>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-backspace" viewBox="0 0 16 16" (click)="closeLTC()">
                <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
                <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"/>
              </svg>
            </div>
            <input type="number" class="form-control" id="ltc" formControlName="ltc" step="10" min="0" max="1000">
          </div>
          <div class="form-group" *ngIf="isEOSvisible">
            <div class="labelFormWithInput">
              <label for="eos">EOS</label>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-backspace" viewBox="0 0 16 16" (click)="closeEOS()">
                <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
                <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"/>
              </svg>
            </div>
            <input type="number" class="form-control" id="eos" formControlName="eos" step="10" min="0" max="1000">
          </div>
          <div class="form-group" *ngIf="isBCHvisible">
            <div class="labelFormWithInput">
              <label for="bch">Bitcoin Cash</label>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-backspace" viewBox="0 0 16 16" (click)="closeBCH()">
                <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
                <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"/>
              </svg>
            </div>
            <input type="number" class="form-control" id="bch" formControlName="bch" step="10" min="0" max="1000">
          </div>
          <div class="form-group" *ngIf="isTRXvisible">
            <div class="labelFormWithInput">
              <label for="trx">Tron</label>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-backspace" viewBox="0 0 16 16" (click)="closeTRX()">
                <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
                <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"/>
              </svg>
            </div>
            <input type="number" class="form-control" id="trx" formControlName="trx" step="10" min="0" max="1000">
          </div>
          <div class="form-group" *ngIf="isNEOvisible">
            <div class="labelFormWithInput">
              <label for="neo">Neo Etherum Chinois</label>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-backspace" viewBox="0 0 16 16" (click)="closeNEO()">
                <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
                <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"/>
              </svg>
            </div>
            <input type="number"a class="form-control" id="neo" formControlName="neo" step="10" min="0" max="1000">
          </div>
          <div class="form-group" *ngIf="isADAvisible">
            <div class="labelFormWithInput">
              <label for="ada">Cardano</label>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-backspace" viewBox="0 0 16 16" (click)="closeADA()">
                <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
                <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"/>
              </svg>
            </div>
            <input type="number" class="form-control" id="ada" formControlName="ada" step="10" min="0" max="1000">
          </div>
          <div class="form-group" *ngIf="isXRPvisible">
            <div class="labelFormWithInput">
              <label for="xrp">XRP - Ripple</label>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-backspace" viewBox="0 0 16 16" (click)="closeXRP()">
                <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
                <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"/>
              </svg>
            </div>
            <input type="number" class="form-control" id="xrp" formControlName="xrp" step="10" min="0" max="1000">
          </div>
          <button (click)="BuyBTCCrytpo()" *ngIf="isXRPvisible
                                                                                        || isADAvisible
                                                                                        || isNEOvisible
                                                                                        || isBCHvisible
                                                                                        || isTRXvisible
                                                                                        || isEOSvisible
                                                                                        || isLTCvisible
                                                                                        || isBNBvisible
                                                                                        || isETHvisible
                                                                                        || isBTCvisible">Valider</button>
        </div>

        <div class="tableIsVisible" *ngIf="tableIsVisible">
          <div class="labelFormWithInput">
            <h4 class="titleTableRecap">Récapitulatif des Achats</h4>
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-backspace" viewBox="0 0 16 16" (click)="onClose()">
              <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
              <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"/>
            </svg>
          </div>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Crypto</th>
                <th>Nombre de crypto</th>
                <th>Montant en euros</th>
              </tr>
            </thead>
            <tbody class="crypto-list-item">
              <tr *ngIf="cryptoTabBuy[0] !== 0">
                <td>Bitcoin</td>
                <td>{{ cryptoTabBuy[0] }}</td>
                <td>{{ BTCSelectedBuy }}</td>
              </tr>
              <tr *ngIf="cryptoTabBuy[1] !== 0">
                <td>Etherum</td>
                <td>{{ cryptoTabBuy[1] }}</td>
                <td>{{ ETHSelectedBuy }}</td>
              </tr>
              <tr *ngIf="cryptoTabBuy[2] !== 0">
                <td>Binance Coin</td>
                <td>{{ cryptoTabBuy[2] }}</td>
                <td>{{ BNBSelectedBuy }}</td>
              </tr>
              <tr *ngIf="cryptoTabBuy[3] !== 0">
                <td>Litecoin</td>
                <td>{{ cryptoTabBuy[3] }}</td>
                <td>{{ LTCSelectedBuy }}</td>
              </tr>
              <tr *ngIf="cryptoTabBuy[4] !== 0">
                <td>EOS</td>
                <td>{{ cryptoTabBuy[4] }}</td>
                <td>{{ EOSSelectedBuy }}</td>
              </tr>
              <tr *ngIf="cryptoTabBuy[5] !== 0">
                <td>Bitcoin Cash</td>
                <td>{{ cryptoTabBuy[5] }}</td>
                <td>{{ BCHSelectedBuy }}</td>
              </tr>
              <tr *ngIf="cryptoTabBuy[6] !== 0">
                <td>Tron</td>
                <td>{{ cryptoTabBuy[6] }}</td>
                <td>{{ TRXSelectedBuy }}</td>
              </tr>
              <tr *ngIf="cryptoTabBuy[7] !== 0">
                <td>Neo etherum Chinois</td>
                <td>{{ cryptoTabBuy[7] }}</td>
                <td>{{ NEOSelectedBuy }}</td>
              </tr>
              <tr *ngIf="cryptoTabBuy[8] !== 0">
                <td>Cardano</td>
                <td>{{ cryptoTabBuy[8] }}</td>
                <td>{{ ADASelectedBuy }}</td>
              </tr>
              <tr *ngIf="cryptoTabBuy[9] !== 0">
                <td>XRP</td>
                <td>{{ cryptoTabBuy[9] }}</td>
                <td>{{ XRPSelectedBuy }}</td>
              </tr>
            </tbody>
          </table>
          <div class="control-buttons">
            <button type="button" (click)="onSubmit()" [disabled]="userForm.invalid">Valider et Sauvergarder</button> 
          </div>
        </div>
      </form>
      <ng-template  #elseBlockafterSelectCrypto>
        <p class="elseBlockafterSelectCrypto">Veuillez Ajouter une crypto pour commencer vos achats !</p>
      </ng-template>
    </div>
  </div>
</div>


  <!-- <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Récapitulatif des Achats</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Crypto</th>
            <th>Montant en crypto</th>
            <th>Montant en euros</th>
          </tr>
        </thead>
        <tbody class="crypto-list-item">
          <tr *ngIf="cryptoTabBuy[0] !== 0">
            <td>Bitcoin</td>
            <td>{{ cryptoTabBuy[0] }}</td>
            <td>{{ BTCSelectedBuy }}</td>
          </tr>
          <tr *ngIf="cryptoTabBuy[1] !== 0">
            <td>Etherum</td>
            <td>{{ cryptoTabBuy[1] }}</td>
            <td>{{ ETHSelectedBuy }}</td>
          </tr>
          <tr *ngIf="cryptoTabBuy[2] !== 0">
            <td>Binance Coin</td>
            <td>{{ cryptoTabBuy[2] }}</td>
            <td>{{ BNBSelectedBuy }}</td>
          </tr>
          <tr *ngIf="cryptoTabBuy[3] !== 0">
            <td>Litecoin</td>
            <td>{{ cryptoTabBuy[3] }}</td>
            <td>{{ LTCSelectedBuy }}</td>
          </tr>
          <tr *ngIf="cryptoTabBuy[4] !== 0">
            <td>EOS</td>
            <td>{{ cryptoTabBuy[3] }}</td>
            <td>{{ EOSSelectedBuy }}</td>
          </tr>
          <tr *ngIf="cryptoTabBuy[5] !== 0">
            <td>Bitcoin Cash</td>
            <td>{{ cryptoTabBuy[5] }}</td>
            <td>{{ BCHSelectedBuy }}</td>
          </tr>
          <tr *ngIf="cryptoTabBuy[6] !== 0">
            <td>Tron</td>
            <td>{{ cryptoTabBuy[6] }}</td>
            <td>{{ TRXSelectedBuy }}</td>
          </tr>
          <tr *ngIf="cryptoTabBuy[7] !== 0">
            <td>Neo etherum Chinois</td>
            <td>{{ cryptoTabBuy[7] }}</td>
            <td>{{ NEOSelectedBuy }}</td>
          </tr>
          <tr *ngIf="cryptoTabBuy[8] !== 0">
            <td>Cardano</td>
            <td>{{ cryptoTabBuy[8] }}</td>
            <td>{{ ADASelectedBuy }}</td>
          </tr>
          <tr *ngIf="cryptoTabBuy[9] !== 0">
            <td>XRP</td>
            <td>{{ cryptoTabBuy[9] }}</td>
            <td>{{ XRPSelectedBuy }}</td>
          </tr>
        </tbody>
      </table>      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')" (click)="onSubmit()" [disabled]="userForm.invalid">Valider et Sauvergarder</button>
    </div>
  </ng-template>

   <button class="btn btn-lg btn-outline-primary"  (click)="open(content)" (click)="BuyBTCCrytpo()">Valider</button><!--(click)="BuyBTCCrytpo()" -->
  <!-- <button color="primary" (click)="BuyBTCCrytpo()" [disabled]="userForm.invalid">Acheter</button> -->
  <!-- <button class="" type="button" (click)="BuyBTCCrytpo()">Acheter</button> -->
<!--</form> -->